.options-container{
 
      /* max-height: 0; */
      width: 100%;
      max-height: 168px;
      /* opacity: 0; */
      overflow-y: scroll;
      margin: 0.3rem 0;
}

.form__label{
      padding: 12px 24px;
      cursor: pointer;
      overflow: hidden;
      display: block;
      width: 100%;
}


.option{
      padding: 12px 24px;
      cursor: pointer;
}

.option label{
      width: 100%;
      display: inline-block;
      cursor: pointer;
}

.option:hover{
      /* background: #414b57; */
}

.option .radio{
      display: none;
}